################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test/v15/Server/sqlite3/db.lock
/.vs/Recipe Book/v15/.suo
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide-shm
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide-wal
/DemoBook/.vs/DemoBook/v15/.suo
/DemoBook/DemoBook/obj/Release/DemoBook.csprojAssemblyReference.cache
/DemoBook/DemoBook/obj/Release/DemoBook.csproj.CoreCompileInputs.cache
/.vs/config/applicationhost.config
/DemoBook2-0/DemoBook2-0/obj/Release
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/db.lock
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/storage.ide
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/storage.ide-shm
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3
/Recipe_Book/.vs/Recipe_Book/v15/.suo
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/db.lock
/DemoBook2-0/.vs/DemoBook2-0/v15/Server/sqlite3/db.lock
/Recipe_Book_form/.vs/Recipe_Book_form/v15/Server/sqlite3/db.lock
