################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test/v15/Server/sqlite3/db.lock
/.vs/Recipe Book/v15/.suo
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide-shm
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide
/DemoBook/.vs/DemoBook/v15/Server/sqlite3/storage.ide-wal
/DemoBook/.vs/DemoBook/v15/.suo
/DemoBook/DemoBook/obj/Release/DemoBook.csprojAssemblyReference.cache
/DemoBook/DemoBook/obj/Release/DemoBook.csproj.CoreCompileInputs.cache
/.vs/config/applicationhost.config
/Recipe_Book_form/Recipe_Book_form/obj/Release/Recipe_Book_form.csprojAssemblyReference.cache
/Recipe_Book_form/Recipe_Book_form/obj/Release/Recipe_Book_form.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/x86/Release/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/x64/Release/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/x64/Release/Recipe_Book.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/x64/Debug/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/x64/Debug/Recipe_Book.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/ARM64/Release/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/ARM64/Release/Recipe_Book.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/ARM64/Release/App.g.cs
/Recipe_Book/Recipe_Book/obj/x86/Release/App.g.cs
/Recipe_Book/Recipe_Book/obj/ARM64/Debug/Recipe_Book.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/ARM64/Debug/App.g.cs
/Recipe_Book/Recipe_Book/obj/ARM64/Debug/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/ARM/Release/XamlSaveStateFile.xml
/Recipe_Book/Recipe_Book/obj/ARM/Release/App.g.cs
/Recipe_Book/Recipe_Book/obj/ARM/Release/Recipe_Book.csproj.CoreCompileInputs.cache
/Recipe_Book/Recipe_Book/obj/x64/Debug/App.g.cs
/Recipe_Book/Recipe_Book/obj/x64/Release/App.g.cs
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/storage.ide-wal
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/storage.ide
/Recipe_Book/.vs/Recipe_Book/v15/.suo
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/db.lock
/Recipe_Book/.vs/Recipe_Book/v15/Server/sqlite3/storage.ide-shm
/DemoBook2-0/DemoBook2-0/obj/Release/MainWindow.g.cs
/DemoBook2-0/DemoBook2-0/obj/Release/DemoBook2-0.csproj.CoreCompileInputs.cache
/DemoBook2-0/DemoBook2-0/obj/Release/DemoBook2-0_MarkupCompile.cache
/DemoBook2-0/DemoBook2-0/obj/Release/App.g.cs
/Recipe_Book/Recipe_Book/obj/x86/Release/Recipe_Book.csproj.CoreCompileInputs.cache
/DemoBook2-0/DemoBook2-0/obj/Release/DemoBook2-0_MarkupCompile.lref
